@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
* {
  box-sizing: border-box;
}

html, body {
  font-family: 'Manrope', sans-serif;
  background: #fff;
  color: #93b93a;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
#navbar a {
  color: #93b93a;
}
.showcaselog-img {
  float: right;
  width: 10%;
}

.showcaselog-img img {
  width: 75%;
  float: right;
}

#navbar ul{
  list-style: none;
  text-transform: uppercase;
  float: right;
}
#navbar ul li {
  float:right;
}
#navbar ul li a {
  display:block;
  padding: 70px;
  text-align: center;
}

#navbar ul li a:hover {
  background: #539304;
  border-radius: 10px;
  transition: background-color .5s;
  padding: 60px;
  
}
.showcasecactus-img {
  float: left;
  width: 20%;
}

.showcasecactus-img img {
  width: 100%;
  float: left;
  padding-top: 10px;
}
.showcaseplanta-img {
  float: right;
  width: 25%;
}

.showcaseplanta-img img {
  width: 100%;
  float: right;
  padding-top: 220px;
}
.showcase-text-evento {
  float: left;
  background-color: #93b93a;
  color: #efe4b0;
  border-radius: 10px;
}
.showcase-text {
  text-align: center;
}

header {
  height: 100vh;
}

.showcasetira-img {
  float: right;
  width: 30%;
}

.showcasetira-img img {
  width: 100%;
  float: center;
  padding: 5px 50px 15px;
  opacity: 70%;
  align-content: center;
}
/* video */
.showcase-vid {
  float: left;
  width: 70%;
} 
.showcase-vid iframe {
  width: 100%;
  
}
.showcase-vid {
  float: left;
  width: 70%;
  padding: 30px 30px 30px 50px;
}
.showcasevid-text .titlevid-one {
  background-color: #93b93a;
  width: 100%;
  opacity: 70%;
  color: black;
  
}

  .showcasenos-img {
    float: left;
    width: 25%;
    padding: 150px 50px 30px 80px;
  }
  
  .showcasenos-img img {
    width: 100%;
    float: left;
    padding-top: 50px;
    
  }
  .showcasenos-text {
    padding:150px 85px;
  }
  .showcasenos-text .titlenos-one {
    font-size: 29px;
    font-weight: 400;
  }
 
  .showcasenos-text .large-nos {
    padding-top: 20px;
    color: black;
  }
  .showcasenos-text .titleint-one {
    font-size: 29px;
    font-weight: 400;
    float: right;
  }
 
  
    /* contacto */
    .regist {
      background: #92c205;
      color: #efe4b0;
    }
    #section.registrate {
      background: #92c205;
    }
    #contacto {
      padding: 120px 0;
      }
     
      .registro-form {
      float: right;
      width: 50%;
      padding: 20px;
      
      }
      
      form .form-group {
        margin-bottom: 0.5rem;
        color: #efe4b0;
      }
      .showcaseinteg-img {
        float: right;
        width: 45%;
      }
      
      .showcaseinteg-img img {
        width: 100%;
        float: right;
        padding-top: 100px;
      }
      
      
      form .form-control {
      /* display: block; */
      width: 100%;
      padding: 0.375rem 0.7rem;
      font-size: 1rem;
      line-height: 1.7;
      border: none;
      }
      
      /* boton form */
      .btn {
        font-size: 15px;
        padding: 14px 23px;
        cursor: pointer;
        font-weight: bold;
        letter-spacing: 1px;
        border-radius: 4px;
        margin-top: 10px;
        }
        .btn-light {
        background: #539304;
        border: 1px solid #539304;
        color: #efe4b0;
        width: 100%;
        }
        .btn-light:hover {
        background: #92c205;
        border: 1px solid #539304;
        color: #539304;
        }
        .titlereg .titlereg-form {
          text-align: right;
          font-size: 50px;
          font-weight: 400;
          padding: 20px 20px 5px 700px;
        }
        .registro-title {
          float: left;
          width: 50%;
          padding-top: 20px;
          text-align: left;
          text-transform: uppercase;
          }
        /* footer */
          .contactowha {
            padding: 20px 50px 30px 0px;
            width: 70%;
            float: right;
           }
           .contactowha img {
            width: 10%;
            float: left;
           }
          
           .clima {
            padding-top: 300px;
            padding-left: 450px;
           }
          .container {
            margin: auto;
            max-width: 1300px;
            overflow: auto;
            padding: 0 10px;
            }
            
             